<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>픽토그램 등록</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/v-cloak.css">

</head>

<body>
    <div id="vm" v-cloak>
        <div id="wrapper">
            <%- include('navigation') %>
            <div id="page-wrapper" class="gray-bg ">
                <%- include('header') %>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                                </div>
                                <div class="ibox-content">
                                    <form method="post" autocomplete="off">
                                        <div class="form-group  row"><label
                                                class="col-sm-2 col-form-label">픽토그램명</label>

                                            <div class="col-sm-10"><input type="text" class="form-control" v-model="pictogram.pictogram_name"
                                                    ref="pictogram_name" id="pictogram_name" name="pictogram_name">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    </form>
                                    <form enctype="multipart/form-data" ref="imageForm" id="file-form">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">픽토그램</label>
                                            <div class="col-sm-10"><input type="file" class="form-control"
                                                    ref="image_path" name="image_path" accept="image/*" id="image_path"
                                                    placeholder="픽토그램 폴더에서 이미지 파일을 선택해 주세요"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-3 col-form-label text-navy">이미지
                                                파일만 등록해 주세요.</label>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-md-2"><input type="button" placeholder=".col-md-2"
                                                            class="btn btn-primary btn-sm" value="등록"
                                                            @click="submitForm">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('footer') %>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script>
        var vm = new Vue({
            data: {
                title: '픽토그램 등록 화면',
                pictogram: {
                    pictogram_name: ''
                }
            },
            methods: {
                checkForm() {
                    if (!this.$refs.pictogram_name.value) {
                        alert('픽토그램 이름을 입력해 주세요');
                        this.$refs.pictogram_name.focus();
                        return false;
                    } else if (!this.$refs.image_path.value) {
                        alert('픽토그램 이미지를 선택해주세요.');
                        return false;
                    }

                    const imgFile = document.getElementById('image_path');
                    const fileForm = /(.*?)\.(jpg|jpeg|png|gif|bmp|jfif)$/;
                    const maxSize = 5 * 1024 * 1024;
                    let fileSize;

                    if (imgFile.value) {
                        // 확장자, 사이즈 체크
                        fileSize = imgFile.files[0].size;
                        if (!imgFile.value.match(fileForm)) {
                            alert("이미지 파일만 업로드 가능합니다.");
                            return false;
                        } else if (fileSize > maxSize) {
                            alert("파일 사이즈는 5MB까지 가능합니다.");
                            return false;
                        }
                        return true;
                    }
                },
                resetForm() {
                    this.$refs.pictogram_name.value = '';
                    this.$refs.image_path.value = '';
                },
                checkDuplication() {
                    return (async () => {
                        var response = 
                            await axios.post('/pictograms?duplicate=check', this.pictogram);
                        
                        const { code, message } = response.data;

                        if (code == 409) {
                            alert(message)
                            return false;
                        } 
                        return true;
                    })();
                },
                submitForm() {
                    const check = this.checkForm();
                    if (!check) return false;
                    
                    // const form = this.$refs.imageForm;
                    // const formData = new FormData(form);

                    (async () => {
                        const duplication = await this.checkDuplication();
                        if(!duplication) return false;
                        // this.file을 file로 수정. 왜 this였는지 모르겠네;
                        const file = this.$refs.image_path.files[0];
                        const form = new FormData();

                        form.append('pictogram_name', this.pictogram.pictogram_name);
                        form.append('pictogramImage', file);

                        // form 확인
                        for (idx of form.entries()) {
                            console.log(`${ idx }`);
                        }

                        const config = {
                            headers:
                                { 'Content-Type': 'multipart-formdata' }
                        }
                            
                        const response = await axios.post('/pictograms', form, config);
                        const { code,message } = response.data;
                        if(code == 200) {
                            alert(message);
                            // 폼 초기화
                            this.pictogram.pictogram_name = '';
                        } else {
                            alsert(message);
                        }
                    })();
                }
            },
        }).$mount('#vm');
    </script>
</body>

</html>