<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>제품 등록</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/v-cloak.css">

    <style>
        .not-visible {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <div id="vm" v-cloak>
        <div id="wrapper">

            <%- include('navigation') %>

            <div id="page-wrapper" class="gray-bg ">
                <%- include('header') %>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                                </div>
                                <div class="ibox-content">
                                    <form method="post" autocomplete="off" id="product-form">
                                        <div class="form-group  row"><label class="col-sm-2 col-form-label">제품명<span
                                                    class="text-danger">*</span></label>

                                            <div class="col-sm-10"><input type="text" class="form-control"
                                                    maxlength="100" v-model="product.product_name" ref="product_name">
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group  row"><label class="col-sm-2 col-form-label">제품
                                                상세<span class="text-danger">*</span></label>
                                            <div class="col-sm-10"><textarea v-model="product.product_desc"
                                                    class="form-control " v-model="product.product_desc"
                                                    ref="product_desc"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group  row">
                                            <label class="col-sm-2 col-form-label">복용법<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-sm-10"><textarea v-model="product.suggested_use"
                                                    class="form-control " v-model="product.suggested_use"
                                                    ref="suggested_use"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">주의사항<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-10"><textarea v-model="product.warnings"
                                                    class="form-control " v-model="product.warnings"
                                                    ref="warnings"></textarea></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">기타성분<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-10"><textarea v-model="product.other_ingredients"
                                                    class="form-control " v-model="product.other_ingredients"
                                                    ref="other_ingredients"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">1회 제공량<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-4"><input type="text" placeholder="1회 제공량"
                                                            class="form-control " v-model="product.servings"
                                                            maxlength="20" ref="servings">
                                                    </div>
                                                    <label class="col-sm-2 col-form-label">전체 제공량<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-4"><input type="number" placeholder="숫자만 적어주세요"
                                                            class="form-control" v-model="product.total_servings"
                                                            ref="total_servings"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">1차 카테고리 선택<span
                                                    class="text-danger">*</span></label>

                                            <div class="col-sm-10">
                                                <label class="checkbox-inline i-checks">
                                                    <label class="i-checks">
                                                        <input type="radio" v-model="product.parent_category" value="1">
                                                        영양제
                                                    </label>
                                                    <label class="i-checks">
                                                        <input type="radio" v-model="product.parent_category" value="2">
                                                        동물 영양제
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">2차 카테고리 선택<span
                                                    class="text-danger">*</span>
                                            </label>

                                            <div class="col-sm-10">
                                                <div>
                                                    <label>
                                                        <input type="radio" v-model="product.child_category"
                                                            value="1">비타민
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input type="radio" v-model="product.child_category" value="2">
                                                        프로바이오틱스
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">픽토그램
                                                선택</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-md-2" v-for="(one, idx) in 5" :kye="one.id">
                                                        <select class="form-control m-b " name="account"
                                                            v-model="product.pictogram[idx]" :key="idx">
                                                            <option v-for="(item, idx) in pictogramArr" :key="item.id">
                                                                {{ item.pictogram_name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-sm-12 col-form-label text-navy">최대 5개까지 선택가능합니다.</label>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <!-- 성분 추가 시작 -->
                                        <div class="form-group row" v-for="(item, index) in product.ingredients">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    </label>
                                                    <!-- 조건에 따라 class 바인딩 -->
                                                    <label class="col-sm-1 col-form-label"
                                                        :class="{ 'not-visible': index > 0 }">
                                                        성분명<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-3"><input type="text" placeholder="성분명"
                                                            class="form-control" ref="ingredient"
                                                            v-model="item.ingredient">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"
                                                        :class="{ 'not-visible': index > 0 }">
                                                        함유량<span class="text-danger">*</span>
                                                    </label>
                                                    </label>
                                                    <div class="col-md-3"><input type="text" placeholder="함유량"
                                                            class="form-control" v-model="item.per_serving"
                                                            ref="per_serving">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label"
                                                        :class="{ 'not-visible' : index > 0 }">
                                                        %영양소기준치
                                                    </label>
                                                    <div class="col-md-3"><input type="number" placeholder="%영양소기준치"
                                                            class="form-control" v-model="item.daily_value">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 성분 추가 끝  -->
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white btn-sm" type="button"
                                                    @click="increaseIngredient">추가</button>
                                                <button class="btn btn-white btn-sm" type="button"
                                                    @click="decreaseIngredient">제거</button>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    </form>
                                    <!-- 파일 전송을 위한 타입지정 필수 -->
                                    <form enctype="multipart/form-data" ref="imageForm" id="file-form">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">
                                                제품 이미지<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-10"><input type="file" class="form-control"
                                                    maxlength="100" accept="image/*" id="productImage"
                                                    name="productImage" ref="product_image" @change="inputImage"></div>
                                        </div>
                                    </form>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-sm-offset-2 text-center">
                                            <button class="btn btn-warning btn-sm" type="reset">취소</button>
                                            <button class="btn btn-primary btn-sm" type="button"
                                                @click="submitForm">등록</button>
                                            <button class="btn btn-info btn-sm" type="button"
                                                onclick="location.href='/product_list'">목록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('footer') %>
            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script>
        var vm = new Vue({
            data: {
                title: '제품 등록',
                count: 0,
                product: {
                    parent_category: 0, // 1=supplies,2=pet supplies
                    child_category: 0,// 1=vitamin,2=probiotics
                    product_name: '',
                    product_image: '',
                    product_desc: '',
                    suggested_use: '',
                    warnings: '',
                    servings: '',
                    total_servings: '',
                    other_ingredients: '',
                    ingredients: [
                        { ingredient: '', per_serving: '', daily_value: '' }
                    ],
                    pictogram: [], // 서버에 전송할 픽토그램 이미지명을 담을 배열
                },
                pictogramArr: [] // 서버로 부터 받은 전체 픽토그램 배열
            },
            methods: {
                inputImage() {
                    // 파일은 v-model로 연결x. 양방향이 안 되므로.
                    this.product.product_image = this.$refs.product_image.value;
                },
                resetForm() { // 전송 후 폼의 데이터 초기화
                    this.product.product_name = '';
                    this.product.product_desc = '';
                    this.product.suggested_use = '';
                    this.product.warnings = '';
                    this.product.other_ingredients = '';
                    this.product.servings = '';
                    this.product.total_servings = '';
                    this.product.product_image = '';
                    this.product.parent_category = 0;
                    this.product.child_category = 0;

                    for (idx in this.product.pictogram) {
                        this.product.pictogram[idx] = '';
                    }

                    this.count = 0;
                    this.product.ingredients = [
                        { ingredient: '', per_serving: '', daily_value: '' }
                    ];
                    // v-model로 연결되지 않은 데이터들을 화면에서 지운다(vue에서는 위에서 지움)
                    document.getElementById('file-form').reset();
                    this.$forceUpdate();

                },
                checkForm() {
                    const check = (name, ref) => {
                        alert(`${name} 입력해주세요`);
                        ref.focus();
                        return false;
                    }

                    if (!this.product.product_name) {
                        // 반드시 this.$refs가 붙어있는 형태로 넘겨줘야 인식됨
                        // 화살표 함수로 작성해서 그런 듯
                        return check('제품이름을', this.$refs.product_name);
                    } else if (!this.product.product_desc) {
                        return check('제품상세를', this.$refs.product_desc);

                    } else if (!this.product.suggested_use) {
                        return check('복용법을', this.$refs.suggested_use);

                    } else if (!this.product.warnings) {
                        return check('주의사항을', this.$refs.warnings);

                    } else if (!this.product.other_ingredients) {
                        return check('기타성분을', this.$refs.other_ingredients);

                    } else if (!this.product.servings) {
                        return check('1회 제공량을', this.$refs.servings);

                    } else if (!this.product.total_servings) {
                        return check('전체제공량을', this.$refs.total_servings);

                    } else if (!this.product.parent_category) {
                        alert('1차 카테고리를 선택해 주세요');
                        return false;

                    } else if (!this.product.child_category) {
                        alert('2차 카테고리를 선택해 주세요');
                        return false;
                    } else if (!this.product.product_image) {
                        alert('제품 이미지를 입력해 주세요');
                        return false;
                    }

                    // 성분 널값 체크
                    for (idx in this.product.ingredients) {
                        if (!this.product.ingredients[idx].ingredient) {
                            alert('성분명을 입력해 주세요.');
                            return false;
                        } else if (!this.product.ingredients[idx].per_serving) {
                            alert('함유량을 입력해 주세요');
                            return false;
                        }
                    }

                    // 이미지 파일 유효성 체크
                    const imgFile = document.getElementById('productImage');
                    const fileForm = /(.*?)\.(jpg|jpeg|png|gif|bmp|jfif)$/;
                    const maxSize = 5 * 1024 * 1024;
                    let fileSize;

                    if (imgFile.value) {
                        // 확장자, 사이즈 체크
                        fileSize = imgFile.files[0].size;

                        if (!imgFile.value.match(fileForm)) {
                            alert("이미지 파일만 업로드 가능합니다.");
                            return false;
                        } else if (fileSize > maxSize) {
                            alert("파일 사이즈는 5MB까지 가능합니다.");
                            return false;
                        }
                    }
                    // 전부 다 통과했을 경우
                    return true;
                },
                uploadImage() {
                    const form = this.$refs.imageForm;
                    const formData = new FormData(form);

                    return (async () => {
                        try {
                            // 이미지 전송
                            const file = await axios.post('/files/upload', formData);
                            const code = file.data.code;

                            if (code === 200) {
                                let path = file.data.message;

                                // Linux에서는 경로가 \(역슬레시)가 아니라 /로 반환된다
                                // path = path.split('/') // production 코드(Linux)
                                path = path.split('\\') // 개발버전 코드

                                return this.product.product_image = path[3];
                            } else {
                                alert('이미지 업로드에 실패했습니다.');
                                return false;
                            }
                        } catch (err) {
                            console.log(err);
                        }
                    })();
                },
                submitForm() {
                    // 폼 체크
                    const check = this.checkForm();
                    if (!check) return false;

                    (async () => {
                        try {
                            // 이미지 업로드
                            const uploadImage = await this.uploadImage();
                            if (!uploadImage) return false;

                            // 상품 등록 처리
                            const product = await axios.post('/products', this.product);
                            const { code, message } = product.data;

                            if (code === 200) {
                                // this.resetForm();
                                // alert('제품 등록성공');
                            } else {
                                alert(message);
                            }
                        } catch (err) {
                            console.log(err);
                            return false;
                        }
                    })();
                },
                increaseIngredient() {
                    let count = this.count;
                    if (count > 8) {
                        alert('성분은 최대 10개까지만 등록 가능합니다');
                        return false;
                    } else {
                        this.product.ingredients.push({ ingredient: '', per_serving: '', daily_value: '' });
                        this.count++; // 성분 입력창의 개수 증가
                    }
                },
                decreaseIngredient() {
                    let count = this.count;
                    if (count < 1) {
                        alert('성분은 최소 1개는 입력해야 합니다.');
                        return false;
                    } else {
                        this.product.ingredients.pop();
                        this.count--; // 성분 입력창의 개수 감소
                    }
                },
            },
            created() {
                (async () => {
                    try {
                        let result = await axios.get('/pictograms');
                        const { code, messae, pictograms } = result.data;

                        code === 200
                            ? this.pictogramArr = pictograms
                            : alert(message);
                    } catch (err) {
                        console.log(err);
                    }
                })();
            },
        }).$mount('#vm');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162004565-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-162004565-1');
    </script>

</body>

</html>