<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>제품 등록</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <style>
        [v-cloak] {
            display: none;
        }

        .not-visible {
            visibility: hidden;
        }
    </style>
</head>

<body>
    <div id="vm" v-cloak>
        <div id="wrapper">

            <%- include('navigation') %>

            <div id="page-wrapper" class="gray-bg ">
                <%- include('header') %>
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>All form elements <small>With custom checbox and radion elements.</small></h5>

                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li><a href="#" class="dropdown-item">Config option 1</a>
                                            </li>
                                            <li><a href="#" class="dropdown-item">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form method="post" autocomplete="off" id="product-form">
                                        <div class="form-group  row"><label class="col-sm-2 col-form-label">제품명<span
                                                    class="text-danger">*</span></label>

                                            <div class="col-sm-10"><input type="text" class="form-control"
                                                    v-model="product.product_name" ref="product_name"></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group  row"><label class="col-sm-2 col-form-label">제품
                                                상세<span class="text-danger">*</span></label>
                                            <div class="col-sm-10"><textarea v-model="product.product_desc"
                                                    class="form-control " v-model="product.product_desc"
                                                    ref="product_desc"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group  row">
                                            <label class="col-sm-2 col-form-label">복용법<span
                                                    class="text-danger">*</span></label>
                                            <div class="col-sm-10"><textarea v-model="product.suggested_use"
                                                    class="form-control " v-model="product.suggested_use"
                                                    ref="suggested_use"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">주의사항<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-10"><textarea v-model="product.warnings"
                                                    class="form-control " v-model="product.warnings"
                                                    ref="warnings"></textarea></div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">기타성분<span
                                                    class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-10"><textarea v-model="product.other_ingredients"
                                                    class="form-control " v-model="product.other_ingredients"
                                                    ref="other_ingredients"></textarea>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <label class="col-sm-2 col-form-label">1회 제공량<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-4"><input type="text" placeholder="1회 제공량"
                                                            class="form-control " v-model="product.servings"
                                                            ref="servings">
                                                    </div>
                                                    <label class="col-sm-2 col-form-label">전체 제공량<span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-4"><input type="number" placeholder="숫자만 적어주세요"
                                                            class="form-control" v-model="product.total_servings"
                                                            ref="total_servings"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">1차 카테고리 선택<span
                                                    class="text-danger">*</span></label>

                                            <div class="col-sm-10">
                                                <label class="checkbox-inline i-checks">
                                                    <label class="i-checks">
                                                        <input type="radio" v-model="product.parent_category" value="1">
                                                        영양제
                                                    </label>
                                                    <label class="i-checks">
                                                        <input type="radio" v-model="product.parent_category" value="2">
                                                        동물 영양제
                                                    </label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">2차 카테고리 선택<span
                                                    class="text-danger">*</span>
                                            </label>

                                            <div class="col-sm-10">
                                                <div>
                                                    <label>
                                                        <input type="radio" v-model="product.child_category"
                                                            value="1">비타민
                                                    </label>
                                                </div>
                                                <div>
                                                    <label>
                                                        <input type="radio" v-model="product.child_category" value="2">
                                                        프로바이오틱스
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">픽토그램
                                                선택</label>
                                            <div class="col-sm-10">
                                                <div class="row">
                                                    <div class="col-md-2" v-for="(one, idx) in 5">
                                                        <select class="form-control m-b " name="account"
                                                            v-model="product.pictogram[idx]" :key="idx">
                                                            <option v-for="(item, idx) in pictogramArr" :key="item.id">
                                                                {{ item.pictogram_name }}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <label class="col-sm-12 col-form-label text-navy">최대 5개까지 선택가능합니다.</label>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                        <!-- 성분 추가 시작 -->
                                        <div class="form-group row" v-for="(item, index) in product.ingredients">
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    </label>
                                                    <!-- 조건에 따라 class 바인딩 -->
                                                    <label class="col-sm-1 col-form-label" :class="{ 'not-visible': index > 0 }">
                                                        성분명<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-3"><input type="text" placeholder="성분명"
                                                            class="form-control" ref="ingredient"
                                                            v-model="item.ingredient">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label" :class="{ 'not-visible': index > 0 }">
                                                        함유량<span class="text-danger">*</span>
                                                    </label>
                                                    </label>
                                                    <div class="col-md-3"><input type="text" placeholder="함량"
                                                            class="form-control" v-model="item.per_serving"
                                                            ref="per_serving">
                                                    </div>
                                                    <label class="col-sm-1 col-form-label" :class="{ 'not-visible' : index > 0 }" >
                                                        영양소<span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-md-3"><input type="number" placeholder="영양"
                                                            class="form-control" v-model="item.daily_value">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- 성분 추가 끝  -->
                                        <div class="form-group row">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                <button class="btn btn-white btn-sm" type="button"
                                                    @click="increaseIngredient">추가</button>
                                                <button class="btn btn-white btn-sm" type="button"
                                                    @click="decreaseIngredient">제거</button>
                                            </div>
                                        </div>
                                        <div class="hr-line-dashed"></div>
                                    </form>
                                    <!-- 파일 전송을 위한 타입지정 필수 -->
                                    <form enctype="multipart/form-data" ref="imageForm" id="file-form">
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">
                                                제품 이미지<span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-10"><input type="file" class="form-control "
                                                    name="productImage" ref="product_image"></div>
                                        </div>
                                    </form>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 col-sm-offset-2 text-center">
                                            <button class="btn btn-warning btn-sm" type="reset">취소</button>
                                            <button class="btn btn-primary btn-sm" type="button"
                                                @click="submitForm">등록</button>
                                            <button class="btn btn-info btn-sm" type="button"
                                                onclick="location.href='/product_list'">목록</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <div class="float-right">
                        10GB of <strong>250GB</strong> Free.
                    </div>
                    <div>
                        <strong>Copyright</strong> Example Company &copy; 2014-2018
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <script>
        var vm = new Vue({
            data: {
                title: '제품 등록',
                count: 0,
                product: {
                    parent_category: 0, // 1=supplies,2=pet supplies
                    child_category: 0,// 1=vitamin,2=probiotics
                    product_name: '',
                    product_image: '',
                    product_desc: '',
                    suggested_use: '',
                    warnings: '',
                    servings: '',
                    total_servings: '',
                    other_ingredients: '',
                    ingredients: [
                        { ingredient: '', per_serving: '', daily_value: '' }
                    ],
                    pictogram: [], // 서버에 전송할 픽토그램 이미지명을 담을 배열
                },
                pictogramArr: [] // 서버로 부터 받은 전체 픽토그램 배열
            },
            methods: {
                clearForm() { // 전송 후 폼의 데이터 초기화
                    this.product.product_name = '';
                    this.product.product_desc = '';
                    this.product.suggested_use = '';
                    this.product.warnings = '';
                    this.product.other_ingredients = '';
                    this.product.servings = '';
                    this.product.total_servings = 0;
                    this.product.product_image = '';
                    this.product.parent_category = 0;
                    this.product.child_category = 0;

                    // forEach로는 안 지워짐 왜? 제대로 값을 가져오는건 확인.
                    for (idx in this.product.pictogram) {
                        this.product.pictogram[idx] = '';
                    }
                    // 성분 삭제
                    this.product.ingredients.forEach((item, idx) => {
                        if (idx < 1) {
                            console.log('성분삭제 인덱스 확인', idx);
                            item.ingredient = '';
                            item.per_serving = '';
                            item.daily_value = '';
                        } else {
                            item.ingredient = '';
                            item.per_serving = '';
                            item.daily_value = '';
                        }
                    });

                    this.count = 0;
                    // v-model로 연결되지 않은 데이터들을 화면에서 지운다(vue에서는 위에서 지움)
                    document.getElementById('file-form').reset();
                    this.$forceUpdate();

                },
                submitForm() {
                    const check = (name, ref) => {
                        alert(`${name} 입력해주세요`);
                        ref.focus();
                        return false;
                    }

                    if (!this.product.product_name) {
                        // 반드시 this.$refs가 붙어있는 형태로 넘겨줘야 인식됨
                        return check('제품이름을', this.$refs.product_name);
                    } else if (!this.product.product_desc) {

                        return check('제품상세를', this.$refs.product_desc);
                    } else if (!this.product.suggested_use) {

                        return check('복용법을', this.$refs.suggested_use);
                    } else if (!this.product.warnings) {

                        return check('주의사항을', this.$refs.warnings);
                    } else if (!this.product.other_ingredients) {

                        return check('기타성분을', this.$refs.other_ingredients);
                    } else if (!this.product.servings) {

                        return check('1회 제공량을', this.$refs.servings);
                    } else if (!this.product.total_servings) {

                        return check('전체제공량을', this.$refs.total_servings);
                    } else if (!this.product.parent_category) {

                        return check('1차 카테고리를', this.$refs.parent_category);
                    } else if (!this.product.child_category) {

                        return check('2차 카테고리를', this.$refs.child_category);;
                    }


                    // 성분 널값 확인
                    for (idx in this.product.ingredients) {
                        if (!this.product.ingredients[idx].ingredient) {
                            alert('성분명을 입력해 주세요.');
                            return false;
                        } else if (!this.product.ingredients[idx].per_serving) {
                            alert('함유량을 입력해 주세요');
                            return false;
                        }
                    }

                    // 이미지폼 처리
                    const form = this.$refs.imageForm;
                    const formData = new FormData(form);

                    (async () => {
                        try {
                            let result = await axios.post('/files/upload', formData);
                            console.log(`상품이미지전송결과=${result}`);
                            console.log(result.data);
                            if (result.data.code === 200) {
                                let path = result.data.message;
                                console.log('파일 업로드가 성공해서 받은 리턴값*');
                                console.log(path);
                                // Linux에서는 경로가 \(역슬레시)가 아니라 /로 반환된다!!
                                // path = path.split('/') // production 코드(Linux)
                                path = path.split('\\') // 개발버전 코드
                                console.log('경로는/이다')
                                console.log(path[3]);

                                this.product.product_image = path[3];
                                console.log('이미지확인')
                                console.log(this.product.product_image);

                                // 상품 등록 요청
                                console.log('상품등록 요청 보냄')
                                result = await axios.post('/products', this.product);
                                console.log(result);
                                const { code, message } = result.data;
                                if (code === 200) {
                                    this.clearForm();
                                    alert('등록성공');

                                } else {
                                    alert(message);
                                }
                            } else {
                                alert(result.data.messege);
                            }
                        } catch (err) {
                            console.log(err);
                        }
                    })();
                },
                increaseIngredient() {
                    let count = this.count;
                    if (count > 8) {
                        alert('성분은 최대 10개까지만 등록 가능합니다');
                        return false;
                    } else {
                        this.product.ingredients.push({ ingredient: '', per_serving: '', daily_value: '' });
                        // this.product.ingredients[this.count + 1].isTrue = true;
                        this.count++; // 성분 입력창의 개수 증가
                    }
                },
                decreaseIngredient() {
                    let count = this.count;
                    if (count < 1) {
                        alert('성분은 최소 1개는 입력해야 합니다.');
                        return false;
                    } else {
                        this.product.ingredients.pop();
                        this.count--; // 성분 입력창의 개수 감소
                    }
                },
            },
            created() {
                (async () => {
                    try {
                        let result = await axios.get('/pictograms');
                        console.log(result);
                        this.pictogramArr = result.data;
                    } catch (err) {
                        console.log(err);
                    }
                })();
            },
        }).$mount('#vm');
    </script>
</body>

</html>