<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>제품 등록</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <link href="css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
        .is-visible {
            visibility: hidden;
        }
    </style>

</head>

<body>
    <div id="vm" v-cloak>
        <div id="wrapper">

            <%- include('navigation') %>

            <div id="page-wrapper" class="gray-bg ">
                <%- include('header') %>
                <!-- <div class="row wrapper border-bottom white-bg page-heading">
                    <div class="col-lg-10">
                        <h2>제품 등록 화면</h2>
                    </div>
                    <div class="col-lg-2">

                    </div>
                </div> -->
                <div class="wrapper wrapper-content animated fadeInRight">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <div class="ibox-title">
                                    <h5>All form elements <small>With custom checbox and radion elements.</small></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                            <li><a href="#" class="dropdown-item">Config option 1</a>
                                            </li>
                                            <li><a href="#" class="dropdown-item">Config option 2</a>
                                            </li>
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form method="post" autocomplete="off">
                                        <div class="form-group  row"><label class="col-sm-2 col-form-label">제품명</label>

                                            <!-- 성분 추가 컴포넌트 -->
                                            <!-- <ingredient v-for="(item,idx) in count" :key="idx" ref="child">
                                        </ingredient> -->
                                            <!-- visibility:hidden로 글자 처리 -->
                                            <div class="form-group row" v-for="(item,idx) in count">
                                                <div class="col-sm-12" >
                                                    <div class="row">
                                                        <label class="col-sm-1 col-form-label is-visible"
                                                            ref="label1">성분명
                                                        </label>
                                                        <div class="col-md-3"><input type="text" placeholder="성분명"
                                                                class="form-control ingredient"></div>
                                                        <label class="col-sm-1 col-form-label is-visible"
                                                            ref="label2">함유량</label>
                                                        <div class="col-md-3"><input type="text" placeholder="함량"
                                                                class="form-control per_servings"></div>
                                                        <label class="col-sm-1 col-form-label is-visible"
                                                            ref="label3">영양소</label>
                                                        <div class="col-md-3"><input type="number" placeholder="영양"
                                                                class="form-control daily_value"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--  -->
                                            <div class="form-group row">
                                                <div class="col-sm-4 col-sm-offset-2">
                                                    <button class="btn btn-white btn-sm" type="button"
                                                        @click="increaseIngredient">추가</button>
                                                    <button class="btn btn-white btn-sm" type="button"
                                                        @click="decreaseIngredient">제거</button>
                                                    <button class="btn btn-white btn-sm" type="button"
                                                        @click="test">test</button>
                                                </div>
                                            </div>
                                            <div class="hr-line-dashed"></div>
                                    </form>
                                    <!-- 파일 전송을 위한 타입지정 필수 -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div class="float-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2018
                </div>
            </div>

        </div>
    </div>
    </div>

    <!-- Mainly scripts -->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- vue  -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="js/inspinia.js"></script>
    <script src="js/plugins/pace/pace.min.js"></script>

    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <script>
        var vm = new Vue({
            data: {
                title: '제품 등록 화면',
                count: 1,
                product: {
                    parent_category: 0, // 1=supplies,2=pet supplies
                    child_category: 0,// 1=vitamin,2=probiotics
                    product_name: '',
                    product_image: '',
                    product_desc: '',
                    suggested_use: '',
                    warnings: '',
                    servings: 0,
                    total_servings: 0,
                    ingredients: [],
                    other_ingredients: '',
                    pictogram: ['', '', '', '', ''], // 서버에 전송할 픽토그램 이미지명을 담을 배열
                },
                pictogramArr: [] // 서버로 부터 받은 전체 픽토그램 배열
            },
            methods: {
                test() {
                    for (var i = 0; i < this.count; i++) {
                        let ingredient = document.getElementsByClassName('ingredient')
                        let per_serving = document.getElementsByClassName('per_servings');
                        let daily_value = document.getElementsByClassName('daily_value');

                        let obj = {};
                        obj.ingredient = ingredient[i].value;
                        obj.per_serving = per_serving[i].value;
                        obj.daily_value = daily_value[i].value;
                        this.product.ingredients.push(obj);
                    }
                    console.log('결과')
                    console.log(this.product.ingredients);
                },
                increaseIngredient() {
                    let count = this.count;

                    if (count >= 10) {
                        alert('성분은 최대 10개까지만 등록 가능합니다');
                        return false;
                    } else {
                        this.count++; // 성분 입력창의 개수 증가
                    }
                },
                decreaseIngredient() {
                    let count = this.count;

                    if (count <= 1) {
                        alert('성분은 최소 1개는 입력해야 합니다.');
                        return false;
                    } else {
                        this.count--; // 성분 입력창의 개수 감소
                    }
                },
            },
            created() {
                (async () => {
                    try {
                        let result = await axios.get('/pictograms');
                        console.log(result);
                        this.pictogramArr = result.data;
                    } catch (err) {
                        console.log(err);
                    }
                })();
            },
            mounted(){
                // 클래스를 가져와서 클래스의 콜렉션이 2개 이상이면 안 보이게 처리
                let num = document.getElementsByClassName('ingredient');
                    // console.log(num);
                    // length가 실제 길이보다 -1로 출력됨.
                    num = num.length + 1;
                    let labels = document.getElementsByClassName('is-visible')
                    console.log(labels)
                    console.log(labels[0])
                    console.log(labels[1])
                    console.log(labels[2])
                    // 아래 코드로 hidden으로 바꿀 수 있음
                    // labels[0].style.visibility = 'hidden';
                    // 컬렉션이라서 forEach사용 못 하는 듯?
                        for(var i = 0; i < 3; i++){
                            labels[i].style.visibility = 'visible';
                        }
            }
        }).$mount('#vm');
    </script>
</body>

</html>